
/* Pop_OS COSMIC Dock styling, append !important to any changed rules */

.cosmic-dock #dock {
  border-radius: 12px 12px 12px 12px !important;
  border: 0 !important;
  background-color: darken($bg_color, 3%);
  margin: 4px !important; 
}

.cosmic-dock.extended #dock {
  border-radius: 0px !important;
  margin: 0 !important; }

.cosmic-dock.extended.side #dock {
  border-top-width: 0 !important;
  border-bottom-width: 0 !important; }

.cosmic-dock.extended.side.left #dock {
  border-left-width: 0 !important; }

.cosmic-dock.extended.side.right #dock {
  border-right-width: 0 !important; }

.cosmic-dock.extended.bottom #dock {
  border-bottom-width: 0 !important;
  border-left-width: 0 !important;
  border-right-width: 0 !important; }

.cosmic-dock .app-well-app:hover .overview-icon, .cosmic-dock .app-well-app:focus .overview-icon, .cosmic-dock .app-well-app:selected .overview-icon {
  border-radius: 11px; }