<?xml version="1.0" encoding="UTF-8"?>
<kcfg xmlns="http://www.kde.org/standards/kcfg/1.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.kde.org/standards/kcfg/1.0
      http://www.kde.org/standards/kcfg/1.0/kcfg.xsd" >
  <kcfgfile name=""/>

  <group name="General">
    <entry name="alwaysShowClock" type="Bool">
      <label>If true, the clock is shown even when the computer is idle and the password prompt is hidden.</label>
      <default>true</default>
    </entry>
    <entry name="showMediaControls" type="Bool">
      <label>If true, shows any currently playing media along with controls to pause it.</label>
      <default>true</default>
    </entry>
  </group>

</kcfg>
