/************
 * Nautilus *
 ************/
 .nautilus-window {
  .frame{
    *:selected, *:selected:backdrop{
      background: transparent;
      color: $selected_bg_color;
      label {
        color: $selected_bg_color;
      }
    } 
  }
  paned {
    > separator { background-image: none; }
  }
  .sidebar {
    background-color: transparent;
    // background-image: none;

    &:backdrop {
      background-color: transparent;
      // background-image: none;
    }

    .list-row {
      button {
        border: none;
        background-color: transparentize(darken($base_color,3%),0.05);
        &:active {
          background-color: transparentize($selected_bg_color,0.25);
        }
      }

      &:selected {
        background-color: transparentize($selected_bg_color,0.25);
        &:hover {
          background-color: transparentize($selected_bg_color,0.1);
        }
      }

      &:hover {
        background-color: transparentize($base_color,0.5);
        &:active {
          background-color: transparentize($selected_bg_color,0.1);
        }
      }
    }
  }
  
   // Gnome 43 path-bar
  #NautilusPathBar {
    margin-top: 7px;
    margin-bottom: 7px;
    @include button(normal-header);

    .dim-label {
      color: transparent;
      margin-right: -5px;
    }

    //Buttons before current path
    button {
      .horizontal > .dim-label {
        color: $headerbar_fg_color;
        padding: 3px 12px;
        margin: 0;
        border-right: 1px solid $borders_color;
      }
      &:hover, &:focus {
        .dim-label {@include button(hover-header, $selected_bg_color, #fff); }
      }
    }
   
   // Home icon
    button > .horizontal > image.dim-label { 
      padding: 3px 0px 3px 12px; 
      border-right: none;
      margin-right: -6px;
    }

   // Reset path buttons appearance
    button {
      background: transparent;
      border: none;
      margin: 0;
      padding: 0;
    }

   // Selected dir
    .current-dir  {
      label { padding: 1px 12px; }

      label, image { @include button(active, transparentize($selected_bg_color, 0.3), #fff); }
    }

    button.current-dir:only-child {
      image {
        margin-right: -6px;
        padding: 0px 0px 0px 12px;
        border-radius: 4px 0px 0px 4px;
      }
    }
  }

  // search entry
  #NautilusQueryEditor { 
 
    margin-top: 8px;
    margin-bottom: 8px;
  
    #NautilusQueryEditorTag {
      > button {
        margin: 0;
      }
    }
  
    > menubutton > button {
      @include button(undecorated);
      margin-right: -7px;
      -gtk-icon-size: 12px;
      padding: 0 4px;
      &:hover, &:active, &:focus, &:checked {
        image { color: #fff; }
      }
    }
  
    > text, > image { margin: 0; }
  }

  notebook {
    > stack:only-child { // the :not(:only-child) is for "hidden" notebooks
        background-color: $base_color;
        &:backdrop { background-color: $backdrop_base_color; }
    }
  }

  searchbar {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }
  
 .searchbar-container {
    margin-top: -1px;
  }
}

.nautilus-circular-button {
  border-radius: 20px;
}

.disk-space-display {
  border: 2px solid;

  .unknown {
    background-color: #888a85;
    border-color: darken(#888a85, 20%);
  }

  .used {
    background-color: #9FB0B9;
    border-color: darken(#9FB0B9, 20%);
  }

  .free {
    background-color: #D8D8D8;
    border-color: darken(#D8D8D8, 20%);
  }
}

.nautilus-desktop {

  color: $fg_color;

  .nautilus-canvas-item {
    border-radius: 5px;
    color: #ffffff;
    text-shadow: 1px 1px transparentize(black, 0.4);

    &:active {
      color: $fg_color;
      text-shadow: none;
    }

    &:hover {
      color: $fg_color;
      text-shadow: none;
    }

    &:selected {
      color: $selected_fg_color;
      text-shadow: none;
    }

    .dim-label {
      &:selected {
        color: $selected_fg_color;
      }
    }
  }

  .nautilus-list {

    .dim-label {
      &:selected {
        color: $selected_fg_color;
      }
    }
  }
}

/*********
 * Gedit *
 *********/
.gedit-search-slider {
     padding: 4px;
     border-radius: 0 0 3px 3px;
     border: 0;
     background-color: $bg_color;
 }


/*********
 * Gnucash *
*********/
#gnc-id-main-window {
  entry.gnc-class-register-foreground {
    background: transparent;
    border: none;
    box-shadow: none;
  } 
  .arrow.button.toggle {
    transition: none;
    box-shadow: none;
    &:hover { border-color: $selected_bg_color; }
  } 
}

/*******************
 * Calendar events *
********************/
.color-light{
  & label, &.timed label {
    color: $nord0;
    opacity:1;
  }
}