[Desktop Entry]
Name=Nordic-darker
X-KDE-PluginInfo-Author=EliverLara
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=eliverlara@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=Nordic-darker
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://github.com/EliverLara/Nordic
X-KDE-ServiceTypes=Plasma/LookAndFeel

X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1629062,kns://plasma-themes.knsrc/api.kde-look.org/1633673,kns://aurorae.knsrc/api.kde-look.org/1326274,kns://sddmtheme.knsrc/api.kde-look.org/1366843,kns://xcursor.knsrc/api.kde-look.org/1662218,kns://wallpaper.knsrc/api.kde-look.org/1683121,kns://plasma-themes.knsrc/api.kde-look.org/1704303
