$STRAWBERRY_100: #ff8c82;
$STRAWBERRY_300: #ed5353;
$STRAWBERRY_500: #c6262e;
$STRAWBERRY_700: #a10705;
$STRAWBERRY_900: #7a0000;

$ORANGE_100: #ffc27d;
$ORANGE_300: #ffa154;
$ORANGE_500: #f37329;
$ORANGE_700: #cc3b02;
$ORANGE_900: #a62100;

$BANANA_100: #fff394;
$BANANA_300: #ffe16b;
$BANANA_500: #f9c440;
$BANANA_700: #d48e15;
$BANANA_900: #ad5f00;

$LIME_100: #d1ff82;
$LIME_300: #9bdb4d;
$LIME_500: #68b723;
$LIME_700: #3a9104;
$LIME_900: #206b00;

$MINT_100: #89ffdd;
$MINT_300: #43d6b5;
$MINT_500: #28bca3;
$MINT_700: #0e9a83;
$MINT_900: #007367;

$BLUEBERRY_100: #8cd5ff;
$BLUEBERRY_300: #64baff;
$BLUEBERRY_500: #3689e6;
$BLUEBERRY_700: #0d52bf;
$BLUEBERRY_900: #002e99;

$BUBBLEGUM_100: #fe9ab8;
$BUBBLEGUM_300: #f4679d;
$BUBBLEGUM_500: #de3e80;
$BUBBLEGUM_700: #bc245d;
$BUBBLEGUM_900: #910e38;

$GRAPE_100: #e4c6fa;
$GRAPE_300: #cd9ef7;
$GRAPE_500: #a56de2;
$GRAPE_700: #7239b3;
$GRAPE_900: #452981;

$COCOA_100: #a3907c;
$COCOA_300: #8a715e;
$COCOA_500: #715344;
$COCOA_700: #57392d;
$COCOA_900: #3d211b;

$SILVER_100: #fafafa;
$SILVER_300: #d4d4d4;
$SILVER_500: #abacae;
$SILVER_700: #7e8087;
$SILVER_900: #555761;

$SLATE_100: #95a3ab;
$SLATE_300: #667885;
$SLATE_500: #485a6c;
$SLATE_700: #273445;
$SLATE_900: #0e141f;

$BLACK_100: #666;
$BLACK_300: #4d4d4d;
$BLACK_500: #333;
$BLACK_700: #1a1a1a;
$BLACK_900: #000;