/************
 * Calendar *
 ***********/
calendar {
  color: $text_color;
  border: 1px solid $borders_color;

  &:selected {
    @extend %selected_items;

    border-radius: 3px;
  }

  &.header {
    border-bottom: 1px solid transparentize(black, 0.9);
    border-radius: 0;

    &:backdrop { border-color: transparentize(black, 0.9); }
  }

  &.button {
    @extend %undecorated_button;

    color: transparentize($fg_color, 0.55);

    &:hover {
      @extend %undecorated_button;

      color: $fg_color;
    }

    &:backdrop {
      @extend %undecorated_button;

      color: transparentize($backdrop_fg_color,0.55);
    }

    &:disabled {
      @extend %undecorated_button;

      color:  transparentize($insensitive_fg_color,0.55);
    }
  }

  &:indeterminate,
  &:indeterminate:backdrop { color: gtkalpha(currentColor, 0.55); }

  &.highlight,
  &.highlight:backdrop {
    font-size: smaller;
    color: $fg_color;
  }


  &:backdrop {
    color: $backdrop_text_color;
    border-color: $backdrop_borders_color;
  }
}
