/*************
 * Level Bar *
 *************/
levelbar {
  block {
    min-width: 32px;
    min-height: 6px;
  }

  &.vertical block {
    min-width: 6px;
    min-height: 32px;
  }

  &:backdrop { transition: $backdrop_transition; }

  trough {
    padding: 3px;
    border-radius: 3px;
    background-color: if($variant == 'light' ,transparentize(white,0.2),transparentize(white,0.8));
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);

    &:backdrop {
      background-color: if($variant == 'light' ,transparentize(white,0.4),transparentize(white,0.94));
      box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
    }
  }

  &.horizontal.discrete block { margin: 0 1px; }

  &.vertical.discrete block { margin: 1px 0; }

  block {
    border-radius: 2px;

    &:backdrop { box-shadow: none; }

    &.low {
      background-color: $warning_color;

      &:backdrop { border-color: $warning_color; };
    }

    &.high,
    &:not(.empty) {
      background-color: $cyan;

      &:backdrop { border-color: $cyan; }
    }

    &.full {
      background-color: $success_color;

      &:backdrop { border-color: $success_color; };
    }

    &.empty {
      background-color:  if($variant == 'light' ,transparentize(black, 0.86),transparentize(black,0.65));
      box-shadow: none;
    }
  }
}
