/********
 * Misc *
 ********/
//content view (grid/list)
.content-view {
  background-color: darken($bg_color,7%);

  &:hover {-gtk-icon-filter: brightness(1.2); }

  &:backdrop { background-color: darken($bg_color,7%); }

  rubberband { @extend rubberband; }
}

.scale-popup {
  .osd & { @extend %osd; }

  .osd & button.flat {  //FIXME: quick hack, redo properly
    border-style: none;
    border-radius: 5px;
  }

  button { // +/- buttons on GtkVolumeButton popup
    &:hover {
      @extend %undecorated_button;
      background-color: transparentize($fg_color,0.9);
      border-radius: 5px;
    }

    &:backdrop { &:hover, &:disabled, & { @extend %undecorated_button; }}
  }
}