/***************
 * Popovers   *
 ***************/

popover.background {

  background-color: transparent;
  font: initial;

  > arrow,
  > contents {
    $_popover_border: if($variant=='light', transparentize(black, 0.77), transparentize(black, 0.25));

    background-color: $main_dark_color;
    background-clip: padding-box;
    border: 1px solid $borders_color;
    box-shadow: 0 4px 6px $menu_shadow_color;
  }

  &:backdrop {
    background-color: transparent;
    box-shadow: none;
  }

  > contents {
    padding: 8px;
    border-radius: 5px;

    > list,
    > .view,
    > toolbar {
      border-style: none;
      background-color: transparent;
    }

    separator {
      background-color: mix($bg_color, $borders_color, 30%);
      margin: 3px;
    }

    list separator { margin: 0; }
  }

  .osd &,
  &.touch-selection,
  &.magnifier {
    background-color: transparent;

    > arrow,
    > contents {
      @extend %osd;

      border: 1px solid transparentize(white, 0.9);
      box-shadow: none;
    }
  }

  &.touch-selection,
  &.magnifier {
    button { @extend %osd_button; }
  }
}

magnifier {
  background-color: $base_color;
}