[Desktop Entry]
Name=Nordic
X-KDE-PluginInfo-Author=eliverlara
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=eliverlara@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Nordic
X-KDE-PluginInfo-Version=1.0.0
