# ==============================================================================
# OPEN/LIBREOFFICE SPECIFIC SETTINGS
# ==============================================================================

style "ooo_stepper_hack"
{
	GtkScrollbar::stepper-size	        = 13
	GtkScrollbar::has-backward-stepper	= 1
	GtkScrollbar::has-forward-stepper	= 1
}

widget "*openoffice-toplevel*"                	style "ooo_stepper_hack"