.xfce4-panel {

  border-radius: 0;

  &.panel{
    background-color: $panel_bg_color;
    text-shadow: none;
    -gtk-icon-shadow: none;

    button:not(.open_group), button.flat:not(.open_group) { @extend %panelbutton; }
  }

}

  #tasklist-button {
    color: transparentize($panel_fg_color, 0.2);
    border-radius: 0;
    border: none;
    background-color: $panel_bg_color;

    &:hover {
      color: lighten($panel_fg_color, 10%);
      background-color: transparentize(black, 0.83);
    }

    &:checked {
      color: white;
      background-color: transparentize(black, 0.75);
      box-shadow: inset 0 -2px $selected_bg_color;
    }
  }

  %panelbutton {
    color: $panel_fg_color;
    border-radius: 0;
    border: none;
    background-color: $panel_bg_color;

    &:hover {
      border: none;
      background-color: lighten($panel_bg_color, 10%);
    }
    &:active, &:checked {
      color: $panel_fg_color;
      border: none;
      background-color: transparentize($selected_bg_color, 0.9);
      box-shadow: 0px -2px $selected_bg_color inset;

      label, image { color: inherit; }
    }
  }


#whiskermenu-window button {
    background-color:transparent;
    border: none;
    border-radius: 0;
    font-weight: normal;
    padding: 3px;
    margin: 1px 2px;
    &:hover, &:checked {
        background-color: $selected_bg_color;
    }
}

/* Vala-appmenu-plugin*/

.-vala-panel-appmenu-core scrolledwindow,
.-vala-panel-appmenu-private > menuitem,
.-vala-panel-appmenu-private > menuitem:first-child > label {
    color: $panel_fg_color;
}

// Notifications style

#XfceNotifyWindow {
  background-color: darken($bg_color, 2%);
  border-radius: 12px;
  border-width: 1px;
  border: 1px solid $borders_color;
  color: $fg_color;
  padding: 40px;
  &:hover, &:focus { background-color: $bg_color; }
  label, image { color: $fg_color; }
  button { 
    @include button(normal); 
    &:hover {@include button(hover-header, transparentize($selected_bg_color, 0.2));}
  }
}
